body {
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC",
    "Segoe UI", "Microsoft YaHei", "微软雅黑", "Helvetica Neue", "Helvetica",
    "Arial";
  letter-spacing: 0.05em;
  font-weight: 400;
  line-height: 22px;
  overflow: hidden;
}
.ant-layout.ant-layout-has-sider > .ant-layout::-webkit-scrollbar,
.ant-layout.ant-layout-has-sider > .ant-layout-content::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background: transparent;
}
.ant-layout.ant-layout-has-sider > .ant-layout::-webkit-scrollbar-thumb,
.ant-layout.ant-layout-has-sider
  > .ant-layout-content::-webkit-scrollbar-thumb {
  height: 10px;
  width: 10px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

a {
  color: #333333;
}
a:hover {
  color: #00af92;
}

.ant-layout-content {
  padding-bottom: 10px;
}
.ant-row {
  min-height: 60px;
}

.ant-layout-footer {
  background: transparent;
  text-align: center;
  color: #999999;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.app-logo {
  margin-top: 80px;
  margin-bottom: 80px;
  width: 350px;
}

.text-r {
  text-align: right;
}
.text-c {
  text-align: center;
}
.text-l {
  text-align: left;
}

/* icon */
.anticon-spin {
  -webkit-animation: loadingCircle 3s infinite linear;
  animation: loadingCircle 3s infinite linear;
  color: #00af92;
}

/* common */
.lighter {
  font-weight: lighter;
}
.bold {
  font-weight: 500;
}
.bolder {
  font-weight: 600;
}
.t-dark {
  color: #000000 !important;
}
.t-normal {
  color: #222222;
}
.t-light {
  color: #666666 !important;
}
.t-green {
  color: #00af92;
}
.gray {
  color: rgba(0, 0, 0, 0.45) !important;
}
/* font size */
h1,
.h1 {
  font-size: 26px;
}
h2,
.h2,
.font-xl {
  font-size: 20px;
}
h3,
.h3,
.font-l {
  font-size: 16px;
}
h4,
.h4,
.font-n {
  font-size: 14px !important;
}
.f-s,
.font-s {
  font-size: 12px !important;
}
.f-xs {
  font-weight: 400;
  font-size: 10px;
}
small,
.small {
  font-size: 80%;
}
.smaller {
  font-size: 70%;
}

.f-1 {
  color: #222222;
  line-height: 1.1;
  letter-spacing: 0.05em;
}
/* .f-2{
    font-size: 20px;
    line-height: 1.1;
    color: #222222;
} */

.width-full {
  width: 100%;
}
.w200 {
  max-width: 200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.w300 {
  max-width: 300px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.w400 {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.w450 {
  max-width: 450px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.w500 {
  max-width: 500px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.w530 {
  max-width: 530px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.w600 {
  max-width: 650px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.w-symbol {
  width: 60px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}
.w-time {
  width: 90px;
  display: inline-block;
  text-align: right;
}
.w-total {
  width: 100px;
  display: inline-block;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
}

/* walletlist */

.ellipsis {
  display: inline-block;
  vertical-align: bottom;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upcase {
  text-transform: uppercase;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.posi-b {
  position: absolute;
  bottom: 0;
}

.mt0 {
  margin-top: 0px !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.pr0 {
  padding-right: 0 !important;
}
.pl0 {
  padding-left: 0 !important;
}

.mt1 {
  margin-top: 52px;
}
.mt2 {
  margin-top: 32px;
}
.mt3 {
  margin-top: 18px !important;
}
.mt4 {
  margin-top: 10px !important;
}
.mt5 {
  margin-top: 4px;
}

.mb1 {
  margin-bottom: 48px !important;
}
.mb2 {
  margin-bottom: 32px !important;
}
.mb3 {
  margin-bottom: 18px !important;
}
.mb4 {
  margin-bottom: 10px !important;
}
.mb5 {
  margin-bottom: 4px;
}

.mr1 {
  margin-right: 32px;
}
.mr2 {
  margin-right: 16px;
}
.mr3 {
  margin-right: 12px;
}
.mr4 {
  margin-right: 8px;
}

.ml1 {
  margin-left: 32px;
}
.ml2 {
  margin-left: 16px;
}
.ml3 {
  margin-left: 12px;
}
.ml4 {
  margin-left: 8px;
}

.pv1 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pv2 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.pv3 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.pv4 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pa1 {
  padding-left: 20px;
  padding-right: 20px;
}
.pa2 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.pa3 {
  padding-left: 12px;
  padding-right: 12px;
}
.pa4 {
  padding-left: 8px;
  padding-right: 8px;
}

/* 覆盖 */
.ant-btn {
  border-radius: 0;
  height: auto;
  padding: 6px 0;
  text-align: center;
  border: 1px solid #00af92;
  color: #00af92;
  background: transparent;
  min-width: 90px;
}
.ant-btn-primary {
  color: #ffffff;
  background: #00af92;
}
.ant-btn:hover {
  color: #ffffff !important;
  background-color: #2b393f;
  border-color: #2b393f !important;
}
.ant-btn[disabled]:hover {
  color: #222 !important;
}
.ant-btn-circle,
.ant-btn-circle-outline {
  border-radius: 50%;
  border: auto;
  height: 32px;
  padding: 0;
  min-width: auto;
}

/* 左侧通用menu */
.menu-down {
  position: absolute;
  width: 100%;
  bottom: 20px;
}
.menu-down ul {
  padding: 0;
  margin-bottom: 4px;
}
.menu-down li {
  list-style: none;
  margin-top: 8px;
}
.menu-down li a {
  display: inline-block;
  width: 100%;
  min-height: 34px;
  line-height: 34px;
  padding: 0 24px;
  vertical-align: middle;
  color: #000;
}
.menu-down li a:hover {
  background: #f0f0f0;
}
.menu-down li a .anticon {
  margin-right: 10px;
}

/* bg通用 */
.bg-white {
  background: #ffffff;
}

/* float 通用 */
.float-r {
  float: right;
}
.float-l {
  float: left;
}

/* title */
.in-title {
  padding: 12px;
  border-bottom: 1px solid #e8e8e8;
}
.in-title .anticon {
  line-height: inherit;
}
.in-title .anticon svg {
  vertical-align: middle;
}
.ant-page-header {
  padding: 12px;
  border-bottom: 1px solid #e8e8e8;
}
.ant-page-header-heading-title {
  color: #222222;
  font-weight: 500;
  line-height: 24px;
}
.ant-page-header-heading-extra .anticon {
  font-size: 20px;
  color: #555555;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: rgba(12, 221, 186, 0.1);
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled)
  .ant-select-item-option-state {
  color: #00af92;
}
/* 列表样式覆盖 */
.ant-list-header,
.ant-list-footer,
.ant-list-item {
  padding-left: 12px;
  padding-right: 12px;
}
.ant-list-item .ant-list-item-meta-description {
  color: rgba(0, 0, 0, 0.65);
}
.ant-list-item:hover {
  background: #efefef;
  color: #000000;
  transition: all 0.2s;
}
.ant-list-item-meta-title {
  font-size: 12px;
  margin-bottom: 0;
}
.ant-list-item:hover .ant-list-item-meta-title > a {
  text-shadow: 0px 0px 1px #222222;
}
.ant-list-item:hover .ant-list-item-meta-description {
  color: #222222;
}
.ant-list-item-meta-title a,
.ant-list-item-meta-title .link-style {
  color: #222222;
  transition: all 0.15s;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ant-list-item-meta-title a:hover {
  color: #00af92;
  text-shadow: none !important;
}
.ant-list-footer,
.ant-list-item {
  padding: 10px 12px;
}

.gui-container {
  background: #f0f0f0;
  padding: 25px 50px;
  min-height: calc(100vh);
}
.detail-ul {
  list-style: none;
  font-size: 12px;
  line-height: 22px;
  padding-left: 0;
}
.detail-ul li {
  margin-top: 8px;
}
.detail-ul li span {
  display: inline-block;
  min-width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  margin-right: 5px;
  line-height: 22px;
}
.detail-ul li .hint {
  color: #222222;
  font-weight: 600;
}
.detail-ul li .detail-amount {
  min-width: auto;
  color: rgba(0, 0, 0, 0.65);
  text-transform: uppercase;
}
.detail-ul .detail-add {
  width: 295px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  color: #00af92;
}
.ul-invo {
  display: table;
}
.ul-invo li {
  padding-top: 8px;
  border-top: 1px dashed #f4f4f4;
}
.ul-invo li:first-child {
  padding-top: 0;
  border-top: none;
}
.ul-invo li p {
  display: table-row;
  word-break: break-all;
}
.ul-invo p span {
  display: table-cell;
  width: 100px;
  vertical-align: super;
}

.fix-area {
  position: fixed;
}
.fix-btn {
  position: fixed;
  background: #f0f0f088;
  z-index: 3;
  right: 60px;
  bottom: 60px;
  text-align: center;
  padding: 8px;
  border: 1px solid #eee;
  color: #00af92;
  font-size: 22px;
}

.ant-input {
  padding: 6px 12px;
}
.ant-input-affix-wrapper:hover {
  border-color: #00af92;
}
.ant-input:focus,
.ant-input:hover,
.ant-input:focus,
.ant-input:active,
.ant-input-focused,
.ant-input-affix-wrapper-focused,
.ant-input-password:hover,
.ant-input-password:focus,
.ant-input-password:active {
  border: 1px solid #00af92;
  box-shadow: 0 0 0 2px rgba(3, 212, 178, 0.2);
}
.ant-input-affix-wrapper > input.ant-input {
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
}
.set-modal .ant-modal-content {
  padding-left: 10px;
  padding-right: 10px;
}
.set-modal .ant-modal-header {
  padding: 20px 15px;
}
.set-modal .ant-modal-title {
  font-size: 20px;
  color: #000000;
}
.set-modal .ant-modal-body {
  padding: 15px;
}
.set-modal h4 {
  color: #000000;
}
.set-ul {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
}
.set-modal .ant-radio-checked .ant-radio-inner {
  border-color: #00af92;
}
.ant-radio-inner::after {
  background-color: #00af92;
}
.ant-radio-checked .ant-radio-inner {
  border-color: #00af92;
}
.ant-radio-checked::after {
  border: 1px solid #00af92;
}
.ant-radio-input:focus + .ant-radio-inner {
  box-shadow: 0 0 0 3px rgba(0, 173, 145, 0.08);
}

.add-mark {
  padding: 0px;
  list-style: none;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #333333;
}
.add-mark li {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #fcfcfc;
}
/* .add-icon{
    width: 20px;
} */
/* .add-icon img{
    width: 20px;
} */
.list-num {
  font-size: 12px;
  padding-left: 15px;
  list-style: decimal;
}

.hash-title {
  width: 100%;
  color: rgba(0, 0, 0, 0.85);
  line-height: 22px;
  letter-spacing: 0.05em;
  margin-bottom: 7px;
  font-weight: 600;
}
.ant-avatar {
  background-color: #e9e9e9;
}
.ant-avatar-image {
  background-color: transparent;
}
.ant-avatar > img {
  width: 60%;
  height: auto;
  line-height: 32px;
  vertical-align: middle;
  display: inline-block;
}
.ant-modal-confirm-btns .ant-btn {
  float: right;
  margin-left: 12px;
}
.ant-btn:focus {
  color: #00af92;
  border-color: #00af92;
}

/* OPCode展示切换 */
.showhex .hex {
  display: block;
}
.showhex .opcode {
  display: none;
}
.showopcode .hex {
  display: none;
}
.showopcode .opcode {
  display: block;
}

.neo-form .ant-row {
  min-height: 32px;
}

.search-div {
  position: absolute;
  z-index: 100;
  width: 100%;
  left: 0;
  background: #ffffff;
  padding: 10px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.103);
}


.clipboard {
  margin-left: 4px;
  color: #00af92!important;
}