.ant-divider-horizontal {
  margin: 6px 0;
}

.ant-drawer-body::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background: transparent;
}

.ant-drawer-body::-webkit-scrollbar-thumb {
  height: 10px;
  width: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.trans-ul {
  list-style: none;
  padding-left: 0;
}
.trans-ul li {
  font-size: 12px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.65);
  margin-top: 8px;
  word-break: break-all;
}
.trans-ul.datatrans li {
  margin-bottom: 32px;
}
.trans-ul .ant-divider-horizontal {
  margin-top: 12px;
}
.trans-ul button {
  padding: 3px 0px;
}
.trans-title {
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.85) !important;
  margin-top: 8px;
  margin-bottom: 10px;
  font-weight: 600;
}
.trans-type {
  display: inline-block;
  min-width: 80px;
  margin-right: 15px;
}
.trans-area {
  margin-top: 5px;
}
.trans-area label {
  display: inline-block;
  width: 100px;
}
.trans-area input {
  width: 340px;
  margin-bottom: 5px;
}
.trans-text {
  word-break: break-all;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.trans-list-title .ant-tabs-top-bar {
  margin-bottom: 0px !important;
}

.tran-title {
  /* background: #333333; */
}

.tran-title .ant-tabs-tab {
  font-size: 20px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.45);
  padding: 12px;
}

.tran-title .ant-tabs-tab-active,
.ant-tabs-nav .ant-tabs-tab:hover {
  color: #00af92;
}

.tran-title .ant-tabs-ink-bar {
  background-color: #00af92;
}
.detail-ul ul {
  list-style: none;
  padding: 0;
}
.detail-ul li {
  padding-left: 12px;
  padding-right: 12px;
  word-break: break-all;
}
.border-under {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 12px;
}

.detail-ul li > p {
  margin-bottom: 4px;
}

.detail-ul .trans-table {
  display: table-row;
}
.detail-ul .trans-table > span {
  display: table-cell;
  vertical-align: top;
}
.detail-ul .trans-table .trans-type {
  margin-right: 12px;
  min-width: 90px;
}
.ant-list-item .hash,
.ant-list-item a {
  font-weight: 500;
}
.ant-list-item:hover .trans-detail {
  color: #000000 !important;
}
.ant-list-item:hover .trans-detail .hash,
.ant-list-item:hover .trans-detail a {
  font-weight: 700;
  /* letter-spacing: 0.44px; */
}
.trans-detail {
  display: inline-block;
  width: 100%;
  /* width: 90%; */
}
.trans-detail p {
  margin-top: 4px;
  margin-bottom: 4px;
}
.trans-detail span {
  min-width: 50px;
  vertical-align: middle;
}

.fail-light,
.succes-light {
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.3px;
  min-width: 85px;
  margin-right: 10px;
}
.fail-light::before,
.succes-light::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-bottom: 2px;
  border-radius: 6px;
  background-color: #00e599;
  margin-right: 8px;
}
.fail-light::before {
  background-color: #f0f0f0;
}
.ant-list-header .fail-light::before,
.ant-list-header .succes-light::before {
  display: none;
}

.trans-detail .trans-amount {
  width: 90px;
  margin-right: 2px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: bottom;
}

.delete-line {
  font-size: 12px;
  color: #ff4d4f;
}
/* .delete-btn .font-s{
    vertical-align: text-top;
    letter-spacing: 0.8px;
    padding-left: 4px;
    margin-top: 1px;
}
.ant-btn-link{
    color: #ff4d4f;
    background-color: transparent;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ant-btn-link:hover,
.ant-btn-link:focus,
.ant-btn-link:active{
    border-color: transparent!important;
    background-color: transparent;
    color: #ff4d4f!important;
    text-shadow: 0 0 0px #ff4d4f;
} */

.spec-row,
.spec-row .ant-row {
  min-height: 0px;
  margin-bottom: 0px !important;
}

.spec-row label {
  font-weight: 400 !important;
  padding-left: 15px !important;
}

.spec-row .ant-form-item-control {
  padding: 1px 5px;
}
